.user-hero {
  // background-image is set in HTML
  background-size: cover;
  text-align: center;
  &__avatar {
    border-radius: 50%;
    width: calc(8vh + 8vw);
    height: calc(8vh + 8vw);
  }
}

.pink {
  background-color: #ffb0ca;
}

.blue {
  background-color: #b0d3ff;
}

.aqua {
  background-color: #d6fffc;
}
